* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .navbar-brand{
    color: black;
  }
  #navbarSupportedContent li{
    list-style-type: none;
  }
  .container a{
    text-decoration: none;
  }
  .container{
    margin: 15px;
  }
  .form-check{
    margin-top: 1rem;
  }
  .form-control{
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #8E8383;
  }
  .btn.btn-link{
    color: black;
    font-weight: bold;
    top: 15.5rem;
    right: 1rem;
    position: absolute;
    font-family: sans-serif;
  }
  .btn.btn-primary{
    border-radius: 12px;
    width: 100%;
    padding: 16px;
    background-color: #D4D4D4;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .btn.btn-primary:hover{
    transition-duration: 0.5s;
    background-color: #226F54;
  }